{% extends 'base.html'%}
{% block primary %}        
   
<div id="primary" class="sidebar-right">
	<div class="inner group">
		<!-- START CONTENT -->
		<div id="content-blog" class="content group">
				{% for project in interesting %}
			<div class="sticky hentry hentry-post blog-big group">
				
				
				<!-- post featured & title -->
				<div class="thumbnail">
					<!-- post title -->
					<h2 class="post-title"><a href="{{url_for('article',id=project.id)}}">{{project.title}}</a></h2>
					<!-- post featured -->
					<div class="image-wrap">
						<img src="/static/images/articles/{{project.img}}">        
					</div>
					<p class="date">
						
						<span class="month">
											
							{% if project.created_at.month == 1 %}
								{{month[0]}}
							{% endif %}
							{% if project.created_at.month == 2 %}
								{{month[1]}}
							{% endif %}
							{% if project.created_at.month == 3 %}
								{{month[2]}}
							{% endif %}
							{% if project.created_at.month == 4 %}
								{{month[3]}}
							{% endif %}
							{% if project.created_at.month == 5 %}
								{{month[4]}}
							{% endif %}
							{% if project.created_at.month == 6 %}
								{{month[5]}}
							{% endif %}
							{% if project.created_at.month == 7 %}
								{{month[6]}}
							{% endif %}
							{% if project.created_at.month == 8 %}
								{{month[7]}}
							{% endif %}
							{% if project.created_at.month == 9 %}
								{{month[8]}}
							{% endif %}
							{% if project.created_at.month == 10 %}
								{{month[9]}}
							{% endif %}
							{% if project.created_at.month == 11 %}
								{{month[10]}}
							{% endif %}
							{% if project.created_at.month == 12 %}
								{{month[11]}}
							{% endif %}
						</span>
						<span class="day">{{project.created_at.day}}</span>
					</p>
				</div>
				<!-- post meta -->
				<div class="meta group">
					<p class="author"><span>by <a  title="Posts by" rel="author">{{project.author}}</a></span></p>
					<p class="categories"><span>In: <a  title="View all posts " rel="category tag">Interesting</a></span></p>
					<p class="comments"><span><a href="{{url_for('article',id=project.id)}}#respond" title="Comment on Section shortcodes &amp; sticky posts!">No comments</a></span></p>
				</div>
				<!-- post content -->
				<div class="the-content group">
					<p>{{project.text[:400:]}}...</p>
					<p><a href="{{url_for('article',id=project.id)}}" class="btn   btn-beetle-bus-goes-jamba-juice-4 btn-more-link">→ Read more</a></p>
				</div>
				<div class="clear"></div>
			</div>
			{% endfor %}
	  
			
			
		</div>
		<!-- END CONTENT -->
			<!-- START SIDEBAR -->	        
        <div id="sidebar-blog-sidebar" class="sidebar group">
				            
                <div class="widget-first widget recent-posts">
                    <h3>Recent Posts</h3>
                    
                    <div class="recent-post group">
                            {% for article in articles|batch(3)|first %}
                        <div class="hentry-post group">
                                
                            <div class="thumb-img"><img src="/static/images/articles/{{article.img}}" width="55" height="55" /></div>
                            <div class="text">
                                <a href="{{url_for('article',id=article.id)}}" title="{{article.title}}" class="title">{{article.title}}</a>
                                <p>{{article.desc[:50:]}}...</p>
                                <a class="read-more" href="{{url_for('article',id=article.id)}}">&rarr; Read More</a>											
                            </div>
                        </div>
                        {%  endfor%}
                        
                        
                    </div>
                </div>
                
                <div id="last-tweets-2" class="widget last-tweets">
                    <h3>Last Tweets</h3>
                    <div class="list-tweets"></div>
                    <script type="text/javascript">
                        jQuery(function($){
                            $('#last-tweets-2 .list-tweets').tweetable({
                                listClass: 'tweets-widget',
                                username: 'YIW', 
                                time: true, 
                                limit: 3, 
                                replies: true
                            });
                        });
                    </script>
                </div>
                
                <div class="widget-last widget recent-comments">
                    <h3>Recent Comments</h3>
                    <div class="recent-post recent-comments group">
                    {% for comment in comments|batch(3)|first %}
                        <div class="the-post group">
                            <div class="avatar">
                                <img alt="" src="/static/images/avatar/unknow55.png" class="avatar" />   
                            </div>
                            <span class="author"><strong><a href="mailto:no-email@i-am-anonymous.not">{{comment.name}}</a></strong> in</span> 
                            <a class="title" href="{{url_for('article',id=comment.article_id)}}">{% for article in articles %}
                                                        {% if article.id == comment.article_id %}
                                                        {{article.title}}
                                                        {% endif %}
                                                        {% endfor %}</a>
                            <p class="comment">
                                {{comment.text}}<a class="goto" href="{{url_for('article',id=comment.article_id)}}">&#187;</a>
                            </p>
                        </div>
                        {% endfor %}
                        
                        
                       
                    </div>
                </div>
                
            </div>
            <!-- END SIDEBAR -->
                        
				    </div>
				</div>
				<!-- END PRIMARY -->
{% endblock %}								
				