{% extends 'base.html'%}     
{% block primary %}           
                <!-- START PAGE META -->
				<div id="page-meta">
				    <div class="inner group">
				        <h3>Our customers say...</h3>
				        <h4>we made great things</h4>
				    </div>
				</div>
				<!-- END PAGE META -->
				<!-- START PRIMARY -->
				<div id="primary" class="sidebar-no">
				    <div class="inner group">
				        <!-- START CONTENT -->
				        <div id="content-page" class="content group">
				            <div class="hentry group">
				                <div class="testimonial two-fourth ">
				                    <div class="thumbnail">
				                        <img src="static/images/avatar/Fotolia_20568380_Subscription_XXL-94x94.jpg" alt="Fotolia_20568380_Subscription_XXL" title="Fotolia_20568380_Subscription_XXL" />   
				                    </div>
				                    <div class="testimonial-text">
				                        <p>I purchased this theme and I really like it. The theme authors have been very helpful in the support area of their website. Would definitely recommend to anyone needing a corporate wordpress theme. What to say about the[...]</p>
				                    </div>
				                    <div class="testimonial-name"><a href="testimonial.html" class="name">Erica Evans</a><a class="website" href="http://www.unisoftware.com">unisoftware.com</a></div>
				                </div>
				                <div class="testimonial two-fourth last">
				                    <div class="thumbnail">
				                        <img src="static/images/avatar/ricardo-94x94.jpg" alt="ricardo" title="ricardo" />   
				                    </div>
				                    <div class="testimonial-text">
				                        <p>Bookmark this theme as one of your “Must Haves for 2012” This theme is without a doubt one of our Top 5 Purchases. Once you get used to how the content is organised in Admin, the applications are[...]</p>
				                    </div>
				                    <div class="testimonial-name"><a href="testimonial.html" class="name">Ricardo Mori</a><a class="website" href="http://www.net.ons.com">Netsons Inc</a></div>
				                </div>
				                <div class="testimonial two-fourth ">
				                    <div class="thumbnail">
				                        <img src="static/images/avatar/Fotolia_24730952_Subscription_XXL-94x94.jpg" alt="Fotolia_24730952_Subscription_XXL" title="Fotolia_24730952_Subscription_XXL" />   
				                    </div>
				                    <div class="testimonial-text">
				                        <p>I am absolutely thrilled with this theme! I have never built a website before but your instructions and design make it both fun and easy to do. …Thanks a lot for your help! your support is AMAZING. 5 themeforest[...]</p>
				                    </div>
				                    <div class="testimonial-name"><a href="testimonial.html" class="name">Elisa Meis</a><a class="website" href="http://www.google.com">Two in Love Society</a></div>
				                </div>
				                <div class="testimonial two-fourth last">
				                    <div class="thumbnail">
				                        <img src="static/images/avatar/Fotolia_7454857_Subscription_XXL-94x94.jpg" alt="Fotolia_7454857_Subscription_XXL" title="Fotolia_7454857_Subscription_XXL" />   
				                    </div>
				                    <div class="testimonial-text">
				                        <p>I already given a 5-star rating, but I also wanted to provide my two cents in case anyone is unsure about purchasing this theme. Not only is the theme itself very versatile and easy to manipulate, but the[...]</p>
				                    </div>
				                    <div class="testimonial-name"><a href="testimonial.html" class="name">Joy Mergot</a><a class="website" href="http://domingoroses.net">domingoroses.net</a></div>
				                </div>
				            </div>
				            <!-- START COMMENTS -->
				            <div id="comments">
				            </div>
				            <!-- END COMMENTS -->
				        </div>
				        <!-- END CONTENT -->
				        <!-- START EXTRA CONTENT -->
				        <!-- END EXTRA CONTENT -->
				    </div>
				</div>
				<!-- END PRIMARY -->
{% endblock %}				
	