{% extends 'base.html'%}    

{% block slider %}
                <!-- BEGIN #slider -->
				<div id="slider-elastic" class="slider elastic ei-slider" style="width: 100%; height: 400px;">
				    <div class="ei-slider-loading">Loading</div>
				    <ul class="ei-slider-large">
				        <li class="first slide-1 slide">
				            <a href="http://www.google.it" target="_blank"><img src="static/images/slider-elastic/sci11.jpg" alt="sci11" title="sci11" /></a>
				            <div class="ei-title">
				                <h2><a href="http://www.google.it" target="_blank">love the sport</a></h2>
				                <h3>...feel the music</h3>
				            </div>
				        </li>
				        <li class="slide-2 slide">
				            <img width="1280" height="500" src="static/images/slider-elastic/dolce11.jpg" alt="dolce11" title="dolce11" />
				            <div class="ei-title">
				                <h2>So sweet, so cute</h2>
				                <h3>enjoy this theme</h3>
				            </div>
				        </li>
				        <li class="slide-3 slide">
				            <img src="static/images/slider-elastic/love1.jpg" alt="love1" title="love1" />
				            <div class="ei-title">
				                <h2>This premium theme</h2>
				                <h3>a great solution</h3>
				            </div>
				        </li>
				        <li class="slide-4 slide align-">
				            <img width="1280" height="500" src="static/images/slider-elastic/red-passion1.jpg" alt="red-passion1" title="red-passion1" />
				            <div class="ei-title">
				                <h2>Love the red fruit</h2>
				                <h3>... a red passion</h3>
				            </div>
				        </li>
				        <li class="last slide-5 slide align-">
				            <img src="static/images/slider-elastic/xx21.jpg" alt="xx21" title="xx21" />
				            <div class="ei-title">
				                <h2>Enjoy your freedom...</h2>
				                <h3>and love your life</h3>
				            </div>
				        </li>
				    </ul>
				    <!-- ei-slider-large -->
				    <ul class="ei-slider-thumbs">
				        <li class="ei-slider-element">Current</li>
				        <li><a href="#">love the sport - </a><img src="static/images/slider-elastic/sci11-150x59.jpg" alt=" - " /></li>
				        <li><a href="#">So sweet, so cute - </a><img src="static/images/slider-elastic/dolce11-150x59.jpg" alt=" - " /></li>
				        <li><a href="#">This premium theme - </a><img src="static/images/slider-elastic/love1-150x59.jpg" alt=" - " /></li>
				        <li><a href="#">Love the red fruit - </a><img src="static/images/slider-elastic/red-passion1-150x59.jpg" alt=" - " /></li>
				        <li><a href="#">Enjoy your freedom... - </a><img src="static/images/slider-elastic/xx21-150x59.jpg" alt=" - " /></li>
				    </ul>
				    <!-- ei-slider-thumbs -->    
				    <div class="shadow"></div>
				</div>
				<!-- ei-slider -->    
				<!-- END #slider -->
				<script type="text/javascript">
				    jQuery(document).ready(function($){
				        $('#slider-elastic.elastic').eislideshow({
        				    easing		: 'easeOutExpo',
        				    titleeasing	: 'easeOutExpo',
        				    titlespeed	: 1200,
        				    autoplay	: true,
        				    slideshow_interval : 3000,
        				    speed       : 800,
        				    animation   : 'sides'
				        });
				    });
                </script>
{% endblock %}


{% block primary %}				
				<!-- START PRIMARY -->
				<div id="primary" class="sidebar-right">
				    <div class="inner group">
				        <!-- START CONTENT -->
				        <div id="content-home" class="content group">
				            <div class="page type-page status-publish hentry group">
				                <h1>Welcome to <span>Pink Rio,</span> a multipurpose theme</h1>
				                <p>Proin luctus euismod diam et ultricies. Maecenas pharetra pellentesque ipsum nec egestas. Praesent scelerisque leo dui, vel rutrum dolor. Aenean at risus egestas urna accumsan aliquet.<a href="#"> Nullam risus mi,</a> posuere vel lacinia vel, aliquam vel massa. Ut rutrum magna quis leo imperdiet posuere. Nulla ut eros nibh, id viverra orci. Integer mollis rhoncus nibh in consectetur. Fusce in sapien neque.</p>
				                <p>Integer eu est justo, eget porttitor sapien. Vivamus fermentum leo quis lacus tempus ac vestibulum tellus consectetur. Nulla at eros tellus. Nulla lorem risus, vulputate a faucibus vitae, <strong>semper a velit</strong>. Donec eget dolor lectus, eu dignissim nibh. Nullam mi lorem, pellentesque molestie sodales vitae, commodo vitae massa. Donec aliquam, lectus ut semper pulvinar, elit justo posuere justo, ultricies pretium elit velit id tellus. Maecenas at purus non elit semper<a href="#"> venenatis </a>a ac tortor.</p>
				                <div class="border-line"></div>
				                <h2>Our customers say..</h2>
				                <div class="testimonials-slider">
				                    <ul class="testimonials group">
				                        <li>
				                            <blockquote>
				                                <p><a href="testimonial.html">&rdquo;I purchased this theme and I really like it. The theme authors have been very helpful in the support area of their[...]&rdquo;</a></p>
				                            </blockquote>
				                            <p class="meta"><strong><a href="testimonial.html" class="name">Erica Evans</a></strong>  - <a href="http://www.unisoftware.com">unisoftware.com</a></p>
				                        </li>
				                        <li>
				                            <blockquote>
				                                <p><a href="testimonial.html">&rdquo;Bookmark this theme as one of your “Must Haves for 2012” This theme is without a doubt one of our Top 5[...]&rdquo;</a></p>
				                            </blockquote>
				                            <p class="meta"><strong><a href="testimonial.html" class="name">Ricardo Mori</a></strong>  - <a href="http://www.net.ons.com">Netsons Inc</a></p>
				                        </li>
				                        <li>
				                            <blockquote>
				                                <p><a href="testimonial.html">&rdquo;I am absolutely thrilled with this theme! I have never built a website before but your instructions and design make it both[...]&rdquo;</a></p>
				                            </blockquote>
				                            <p class="meta"><strong><a href="testimonial.html" class="name">Elisa Meis</a></strong>  - <a href="http://www.google.com">Two in Love Society</a></p>
				                        </li>
				                        <li>
				                            <blockquote>
				                                <p><a href="testimonial.html">&rdquo;I already given a 5-star rating, but I also wanted to provide my two cents in case anyone is unsure about purchasing[...]&rdquo;</a></p>
				                            </blockquote>
				                            <p class="meta"><strong><a href="testimonial.html" class="name">Joy Mergot</a></strong>  - <a href="http://domingoroses.net">domingoroses.net</a></p>
				                        </li>
				                    </ul>
				                    <div class="prev"></div>
				                    <div class="next"></div>
				                </div>
				                <script type="text/javascript">
				                    jQuery(function($){
				                        $('.testimonials-slider ul').cycle({
				                            fx : 'scrollHorz',
				                            speed: 500,
				                            timeout: 5000,
				                            next: '.testimonials-slider .next',
				                            prev: '.testimonials-slider .prev'
				                        });
				                    });
				                </script>	      
				            </div>
				            <!-- START COMMENTS -->
				            <div id="comments">
				            </div>
				            <!-- END COMMENTS -->
				        </div>
				        <!-- END CONTENT -->
				        <!-- START SIDEBAR -->
				        <div class="sidebar group">
				            
				            <div class="widget-first widget popular-posts">
				                <h3>Latest news</h3>
				                <div class="recent-post group">
				                    <div class="hentry-post group">
				                        <div class="thumb-img"><img src="static/images/articles/001-55x55.png" alt="001" title="001" /></div>
				                        <div class="text">
				                            <a href="article.html" title="Section shortcodes &amp; sticky posts!" class="title">Section shortcodes &amp; sticky posts!</a>
				                            <p class="post-date">September 24, 2012</p>
				                        </div>
				                    </div>
				                    <div class="hentry-post group">
				                        <div class="thumb-img"><img src="static/images/articles/003-55x55.jpg" alt="003" title="003" /></div>
				                        <div class="text">
				                            <a href="article.html" title="Nice &amp; Clean. The best for your blog!" class="title">Nice &amp; Clean. The best for your blog!</a>
				                            <p class="post-date">September 24, 2012</p>
				                        </div>
				                    </div>
				                </div>
				            </div>
				            
				            <div class="widget widget-icon-text group">
				                <img class="icon-img" src="static/images/icons/heart.png" alt="" />		
				                <h3>12,895 sales</h3>
				                <p>of our themes on ThemeForest</p>
				            </div>
				            
				            <div class="widget-last widget widget-icon-text group">
				                <img class="icon-img" src="static/images/icons/calc.png" alt="" />		
				                <h3>Call for a quote</h3>
				                <p>Contact us for a free quote now!</p>
				            </div>
				            
				        </div>
				        <!-- END SIDEBAR -->
				        <!-- START EXTRA CONTENT -->
				        <!-- END EXTRA CONTENT -->
				    </div>
				</div>
				<!-- END PRIMARY -->
 {% endblock %}               				
		