{% extends 'base.html'%}
{% block slider %}
                <!-- START SLIDER -->
				<div id="slider-thumbnails" class="slider thumbnails group inner">
				    <div class="showcase group">
				        <div class="showcase-slide">
				            <div class="showcase-content">
				                <!-- If the slide contains multiple elements you should wrap them in a div with the class
				                    .showcase-content-wrapper. We usually wrap even if there is only one element,
				                    because it looks better. -->
				                <div class="showcase-content-wrapper">
				                    <img src="static/images/slider-thumbnails/0019.jpg" alt="0019" title="0019" />
				                </div>
				            </div>
				            <!-- Put the caption content in a div with the class .showcase-caption -->
				            <div class="showcase-thumbnail">
				                <img src="static/images/slider-thumbnails/0019-60x60.jpg" />
				            </div>
				            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
				        </div>
				        <div class="showcase-slide">
				            <div class="showcase-content">
				                <!-- If the slide contains multiple elements you should wrap them in a div with the class
				                    .showcase-content-wrapper. We usually wrap even if there is only one element,
				                    because it looks better. -->
				                <div class="showcase-content-wrapper">
				                    <img src="static/images/slider-thumbnails/00310.jpg" alt="00310" title="00310" />
				                </div>
				            </div>
				            <!-- Put the caption content in a div with the class .showcase-caption -->
				            <div class="showcase-thumbnail">
				                <img src="static/images/slider-thumbnails/00310-60x60.jpg" />
				            </div>
				            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
				        </div>
				        <div class="showcase-slide">
				            <div class="showcase-content">
				                <!-- If the slide contains multiple elements you should wrap them in a div with the class
				                    .showcase-content-wrapper. We usually wrap even if there is only one element,
				                    because it looks better. -->
				                <div class="showcase-content-wrapper">
				                    <img src="static/images/slider-thumbnails/0047.jpg" alt="0047" title="0047" />
				                </div>
				            </div>
				            <!-- Put the caption content in a div with the class .showcase-caption -->
				            <div class="showcase-thumbnail">
				                <img src="static/images/slider-thumbnails/0047-60x60.jpg" />
				            </div>
				            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
				        </div>
				        <div class="showcase-slide">
				            <div class="showcase-content">
				                <!-- If the slide contains multiple elements you should wrap them in a div with the class
				                    .showcase-content-wrapper. We usually wrap even if there is only one element,
				                    because it looks better. -->
				                <div class="showcase-content-wrapper">
				                    <img src="static/images/slider-thumbnails/0057.jpg" alt="0057" title="0057" />
				                </div>
				            </div>
				            <!-- Put the caption content in a div with the class .showcase-caption -->
				            <div class="showcase-thumbnail">
				                <img src="static/images/slider-thumbnails/0057-60x60.jpg" />
				            </div>
				            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
				        </div>
				        <div class="showcase-slide">
				            <div class="showcase-content">
				                <!-- If the slide contains multiple elements you should wrap them in a div with the class
				                    .showcase-content-wrapper. We usually wrap even if there is only one element,
				                    because it looks better. -->
				                <div class="showcase-content-wrapper">
				                    <img src="static/images/slider-thumbnails/0032.jpg" alt="0032" title="0032" />
				                </div>
				            </div>
				            <!-- Put the caption content in a div with the class .showcase-caption -->
				            <div class="showcase-thumbnail">
				                <img src="static/images/slider-thumbnails/0032-60x60.jpg" />
				            </div>
				            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
				        </div>
				        <div class="showcase-slide">
				            <div class="showcase-content">
				                <!-- If the slide contains multiple elements you should wrap them in a div with the class
				                    .showcase-content-wrapper. We usually wrap even if there is only one element,
				                    because it looks better. -->
				                <div class="showcase-content-wrapper">
				                    <img src="static/images/slider-thumbnails/0024.jpg" alt="0024" title="0024" />
				                </div>
				            </div>
				            <!-- Put the caption content in a div with the class .showcase-caption -->
				            <div class="showcase-thumbnail">
				                <img src="static/images/slider-thumbnails/0024-60x60.jpg" width="60" height="60" />
				            </div>
				            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
				        </div>
				        <div class="showcase-slide">
				            <div class="showcase-content">
				                <!-- If the slide contains multiple elements you should wrap them in a div with the class
				                    .showcase-content-wrapper. We usually wrap even if there is only one element,
				                    because it looks better. -->
				                <div class="showcase-content-wrapper">
				                    <img src="static/images/slider-thumbnails/0065.jpg" alt="0065" title="0065" />
				                </div>
				            </div>
				            <!-- Put the caption content in a div with the class .showcase-caption -->
				            <div class="showcase-thumbnail">
				                <img src="static/images/slider-thumbnails/0065-60x60.jpg" width="60" height="60" />
				            </div>
				            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
				        </div>
				        <div class="showcase-slide">
				            <div class="showcase-content">
				                <!-- If the slide contains multiple elements you should wrap them in a div with the class
				                    .showcase-content-wrapper. We usually wrap even if there is only one element,
				                    because it looks better. -->
				                <div class="showcase-content-wrapper">
				                    <img src="static/images/slider-thumbnails/0026.jpg" alt="0026" title="0026" />
				                </div>
				            </div>
				            <!-- Put the caption content in a div with the class .showcase-caption -->
				            <div class="showcase-thumbnail">
				                <img src="static/images/slider-thumbnails/0026-60x60.jpg" width="60" height="60" />
				            </div>
				            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
				            <div class="showcase-tooltips">
				                <!-- Each anchor in .showcase-tooltips represents a tooltip.
				                    The coords attribute represents the position of the tooltip. -->
				                <a href="http://www.google.it" coords="420,95">
				                    <img src="static/images/slider-thumbnails/002b.jpg" />
				                    <!-- The content of the anchor-tag is displayed in the tooltip. -->
				                    Cool glasses            
				                </a>
				            </div>
				        </div>
				        <div class="showcase-slide">
				            <div class="showcase-content">
				                <!-- If the slide contains multiple elements you should wrap them in a div with the class
				                    .showcase-content-wrapper. We usually wrap even if there is only one element,
				                    because it looks better. -->
				                <div class="showcase-content-wrapper">
				                    <img src="static/images/slider-thumbnails/0042.jpg" alt="0042" title="0042" />
				                </div>
				            </div>
				            <!-- Put the caption content in a div with the class .showcase-caption -->
				            <div class="showcase-thumbnail">
				                <img src="static/images/slider-thumbnails/0042-60x60.jpg" width="60" height="60" />
				            </div>
				            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
				        </div>
				        <div class="showcase-slide">
				            <div class="showcase-content">
				                <!-- If the slide contains multiple elements you should wrap them in a div with the class
				                    .showcase-content-wrapper. We usually wrap even if there is only one element,
				                    because it looks better. -->
				                <div class="showcase-content-wrapper">
				                    <img src="static/images/slider-thumbnails/005.jpg" alt="005" title="005" />
				                </div>
				            </div>
				            <!-- Put the caption content in a div with the class .showcase-caption -->
				            <div class="showcase-thumbnail">
				                <img src="static/images/slider-thumbnails/005-60x60.jpg" width="60" height="60" />
				            </div>
				            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
				        </div>
				        <div class="showcase-slide">
				            <div class="showcase-content">
				                <!-- If the slide contains multiple elements you should wrap them in a div with the class
				                    .showcase-content-wrapper. We usually wrap even if there is only one element,
				                    because it looks better. -->
				                <div class="showcase-content-wrapper">
				                    <img src="static/images/slider-thumbnails/006.jpg" alt="006" title="006" />
				                </div>
				            </div>
				            <!-- Put the caption content in a div with the class .showcase-caption -->
				            <div class="showcase-thumbnail">
				                <img src="static/images/slider-thumbnails/006-60x60.jpg" width="60" height="60" />
				            </div>
				            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
				        </div>
				        <div class="showcase-slide">
				            <div class="showcase-content">
				                <!-- If the slide contains multiple elements you should wrap them in a div with the class
				                    .showcase-content-wrapper. We usually wrap even if there is only one element,
				                    because it looks better. -->
				                <div class="showcase-content-wrapper">
				                    <img src="static/images/slider-thumbnails/001.jpg" alt="001" title="001" />
				                </div>
				            </div>
				            <!-- Put the caption content in a div with the class .showcase-caption -->
				            <div class="showcase-thumbnail">
				                <img src="static/images/slider-thumbnails/001-60x60.jpg" width="60" height="60" />
				            </div>
				            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
				        </div>
				        <div class="showcase-slide">
				            <div class="showcase-content">
				                <!-- If the slide contains multiple elements you should wrap them in a div with the class
				                    .showcase-content-wrapper. We usually wrap even if there is only one element,
				                    because it looks better. -->
				                <div class="showcase-content-wrapper">
				                    <img src="static/images/slider-thumbnails/007.jpg" alt="007" title="007" />
				                </div>
				            </div>
				            <!-- Put the caption content in a div with the class .showcase-caption -->
				            <div class="showcase-thumbnail">
				                <img src="static/images/slider-thumbnails/007-60x60.jpg" width="60" height="60" />
				            </div>
				            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
				        </div>
				        <div class="showcase-slide">
				            <div class="showcase-content">
				                <!-- If the slide contains multiple elements you should wrap them in a div with the class
				                    .showcase-content-wrapper. We usually wrap even if there is only one element,
				                    because it looks better. -->
				                <div class="showcase-content-wrapper">
				                    <img src="static/images/slider-thumbnails/008.jpg" alt="008" title="008" />
				                </div>
				            </div>
				            <!-- Put the caption content in a div with the class .showcase-caption -->
				            <div class="showcase-thumbnail">
				                <img src="static/images/slider-thumbnails/008-60x60.jpg" width="60" height="60" />
				            </div>
				            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
				            <div class="showcase-tooltips">
				                <!-- Each anchor in .showcase-tooltips represents a tooltip.
				                    The coords attribute represents the position of the tooltip. -->
				                <a href="" coords="475,65">
				                    <img src="static/images/slider-thumbnails/008b.jpg" />
				                    <!-- The content of the anchor-tag is displayed in the tooltip. -->
				                    Snow Glasses            
				                </a>
				            </div>
				        </div>
				        <div class="showcase-slide">
				            <div class="showcase-content">
				                <!-- If the slide contains multiple elements you should wrap them in a div with the class
				                    .showcase-content-wrapper. We usually wrap even if there is only one element,
				                    because it looks better. -->
				                <div class="showcase-content-wrapper">
				                    <img src="static/images/slider-thumbnails/0075.jpg" alt="0075" title="0075" />
				                </div>
				            </div>
				            <!-- Put the caption content in a div with the class .showcase-caption -->
				            <div class="showcase-thumbnail">
				                <img src="static/images/slider-thumbnails/0075-60x60.jpg" width="60" height="60" />
				            </div>
				            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
				        </div>
				        <div class="showcase-slide">
				            <div class="showcase-content">
				                <!-- If the slide contains multiple elements you should wrap them in a div with the class
				                    .showcase-content-wrapper. We usually wrap even if there is only one element,
				                    because it looks better. -->
				                <div class="showcase-content-wrapper">
				                    <img src="static/images/slider-thumbnails/0085.jpg" alt="0085" title="0085" />
				                </div>
				            </div>
				            <!-- Put the caption content in a div with the class .showcase-caption -->
				            <div class="showcase-thumbnail">
				                <img src="static/images/slider-thumbnails/0085-60x60.jpg" width="60" height="60" />
				            </div>
				            <!-- Put the tooltips in a div with the class .showcase-tooltips. -->
				        </div>
				    </div>
				</div>
				<!-- END SLIDER --> 

				<script type="text/javascript">
				    jQuery(document).ready(function($){
				    	$('#slider-thumbnails.thumbnails img.attachment-full').css('width', '1178px').css('height', '378px');
				        var resize_height_thumbnail = function(){
				            $('.showcase-content-container, .showcase-content').height( $('.showcase-content-wrapper').height() );
				        };
				        $(window).resize(resize_height_thumbnail);
				    
                        $("#slider-thumbnails .showcase").awShowcase({
                            content_width           : 1178 + 22,
                            content_height          : 378 + 22,		
                            show_caption            : 'onload', /* onload/onhover/show */    
                            continuous              : true,
                            buttons                 : false,
                            auto                    : true,
                            thumbnails              : true,           
                            transition              : 'fade', /* hslide / vslide / fade */
                            interval                : 7000,
                            transition_speed        : 800,
                            thumbnails_position     : 'outside-last', /* outside-last/outside-first/inside-last/inside-first */
                            thumbnails_direction    : 'horizontal', /* vertical/horizontal */
                            thumbnails_slidex       : 1, /* 0 = auto / 1 = slide one thumbnail / 2 = slide two thumbnails / etc. */
                            onload                  : function(){
                                $( window ).load(function(){
                                    resize_height_thumbnail();
                                });
                            }
                        });
				    });
				</script>
{% endblock %}

{% block primary %}
				<!-- START PAGE META -->
				<div id="page-meta">
				    <div class="inner group">
				        <h3>Welcome to Pink Rio</h3>
				        <h4>...a multipurpose WordPress theme.</h4>
				    </div>
				</div>
				<!-- END PAGE META -->
				<!-- START PRIMARY -->
				<div id="primary" class="sidebar-no">
				    <div class="inner group">
				        <!-- START CONTENT -->
				        <div id="content-home" class="content group">
				            <div class="hentry group">
				                <div class="one-fourth ">
				                    <h3>A multipurpose theme</h3>
				                    <p>Unlimited sliders, portfolios, galleries, videogalleries and sidebar. Unlimited colors + 500 google fonts. Make your style!</p>
				                </div>
				                <div class="one-fourth ">
				                    <h3>1200 pixel wide layout</h3>
				                    <p>A boxed or stretched 1200px wide layout, for a powerful and strong design, optimized for a responsive layout.</p>
				                </div>
				                <div class="one-fourth ">
				                    <h3>Shortcode manager</h3>
				                    <p>Customize your theme using 100+ shortcodes and add the shortcodes using the shortcode manager, without edit the code!</p>
				                </div>
				                <div class="one-fourth last">
				                    <h3>Buy it on ThemeForest</h3>
				                    <p>Really. This is the best theme you can see on Themeforest. Purchase it now and play with your new wordpress theme!</p>
				                </div>
				                <div class="clear space"></div>
				                <div class="section services">
				                    <h3 class="title">What we do</h3>
				                    <div class="related_project">
				                        <a title="Advertising" href="service.html" class="related_img related_detail">
				                        <img src="static/images/services/adv1-175x175.jpg" alt="adv1" title="adv1" />			</a>
				                        <h4><a href="service.html">Advertising</a></h4>
				                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan [...]
				                    </div>
				                    <div class="related_project">
				                        <a title="Design" href="service.html" class="related_img related_detail">
				                        <img src="static/images/services/deisgn-175x175.jpg" alt="deisgn" title="deisgn" />			</a>
				                        <h4><a href="service.html">Design</a></h4>
				                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan [...]
				                    </div>
				                    <div class="related_project">
				                        <a title="Web Development" href="service.html" class="related_img related_detail">
				                        <img src="static/images/services/WEB1-175x175.jpg" alt="WEB1" title="WEB1" />			</a>
				                        <h4><a href="service.html">Web Development</a></h4>
				                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan [...]
				                    </div>
				                    <div class="related_project">
				                        <a title="Photography" href="service.html" class="related_img related_detail">
				                        <img src="static/images/services/foto-175x175.jpg" alt="foto" title="foto" />			</a>
				                        <h4><a href="service.html">Photography</a></h4>
				                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan [...]
				                    </div>
				                    <div class="related_project">
				                        <a title="Print service" href="service.html" class="related_img related_detail">
				                        <img src="static/images/services/print-175x175.jpg" alt="print" title="print" />			</a>
				                        <h4><a href="service.html">Print service</a></h4>
				                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan [...]
				                    </div>
				                    <div class="related_project_last related_project">
				                        <a title="TShirt Design" href="service.html" class="related_img related_detail">
				                        <img src="static/images/services/editing1-175x175.jpg" alt="editing1" title="editing1" />			</a>
				                        <h4><a href="service.html">TShirt Design</a></h4>
				                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan [...]
				                    </div>
				                    <div class="clear"></div>
				                </div>
				            </div>
				            <!-- START COMMENTS -->
				            <div id="comments">
				            </div>
				            <!-- END COMMENTS -->
				        </div>
				        <!-- END CONTENT -->
				        <!-- START EXTRA CONTENT -->
				        <!-- END EXTRA CONTENT -->
				    </div>
				</div>
				<!-- END PRIMARY -->
{% endblock %}
                				
				