{% extends 'base.html'%} 

{% block slider %}
                <!-- START SLIDER -->
                <div id="slider-layer-slider" class="slider layer-slider no-responsive">
                    <div class="shadowWrapper">
                        <div id="layerslider_1" style="margin: 0px auto; width: 100%; height: 437px; ">
                            <div class="ls-layer" style="background-image: url('static/images/slider-layer/bg.jpg');slidedirection: right; slidedelay: 4000; durationin: 1000; durationout: 1500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0;">
                                <div class="inner ls-s3" style="position:absolute; left:50%; slidedirection : top; slideoutdirection : right; parallaxin : .45; parallaxout : .45; durationin : 600; durationout : 1500; easingin : easeOutExpo; easingout : easeInOutQuint; delayin : 2000; delayout : 0;"><img    src="static/images/slider-layer/055.png" alt="sublayer" style="position: absolute; top: 50px; right: 30px; ; " /></div>
                                <div class="inner ls-s3" style="position:absolute; left:50%; slidedirection : right; slideoutdirection : right; parallaxin : .45; parallaxout : .45; durationin : 600; durationout : 1500; easingin : easeOutExpo; easingout : easeInOutQuint; delayin : 2600; delayout : 0;"><img  src="static/images/slider-layer/064.png" alt="sublayer" style="position: absolute; top: 191px; right: 340px; ; " /></div>
                                <div class="inner ls-s3" style="position:absolute; left:50%; slidedirection : top; slideoutdirection : right; parallaxin : .45; parallaxout : .45; durationin : 1000; durationout : 1500; easingin : easeOutBounce; easingout : easeInOutQuint; delayin : 3200; delayout : 0;"><img src="static/images/slider-layer/074.png" alt="sublayer" style="position: absolute; top: 184px; right: 290px; ; " /></div>
                                <div class="inner ls-s8" style="position:absolute; left:50%; slidedirection : left; slideoutdirection : left; parallaxin : .45; parallaxout : .45; durationin : 1500; durationout : 1500; easingin : easeOutQuint; easingout : easeInOutQuint; delayin : 1100; delayout : 0;">
                                    <div style="position: absolute; top:297px; left: 30px;  "> <a href="themeforest.net/item/pink-rio-responsive-multipurpose-theme/3091259" class="btn btn-xlarge  btn-mfast-3 ">Purchase the theme</a> </div>
                                </div>
                                <div class="inner ls-s6" style="position:absolute; left:50%; slidedirection : left; slideoutdirection : left; parallaxin : .45; parallaxout : .45; durationin : 1500; durationout : 1500; easingin : easeOutQuint; easingout : easeInOutQuint; delayin : 900; delayout : 0;">
                                    <div style="position: absolute; top:186px; left: 30px;  font-size: 13px; color: #4f4f4e; font-family: Droid Sans,sans-serif;">
                                        <p style="width:340px;">Lid est laborum dolo rumes fugats untras. Et harums ser quidem rerum facilis dolores nemis omnis fugiats vitaes nemo minima rerums unsers sadips amets.</p>
                                    </div>
                                </div>
                                <div class="inner ls-s4" style="position:absolute; left:50%; slidedirection : left; slideoutdirection : left; parallaxin : .45; parallaxout : .45; durationin : 1500; durationout : 1500; easingin : easeOutQuint; easingout : easeInOutQuint; delayin : 700; delayout : 0;">
                                    <h3 style="position: absolute; top:126px; left: 30px;  font-size: 30px; color: #c97e08; font-family:Rokkitt,Georgia,serif;"> a fresh Wordpress theme. </h3>
                                </div>
                                <div class="inner ls-s1" style="position:absolute; left:50%; slidedirection : left; slideoutdirection : left; parallaxin : .45; parallaxout : .45; durationin : 1500; durationout : 1500; easingin : easeOutQuint; easingout : easeInOutQuint; delayin : 500; delayout : 0;">
                                    <h2 style="position: absolute; top:94px; left: 30px;  font-size: 30px; color: #2e2d2d; font-family: Rokkitt,Georgia,serif;"> CLEAN, RESPONSIVE, CORPORATE </h2>
                                </div>
                            </div>
                            <div class="ls-layer" style="background-image: url('static/images/slider-layer/bg1.jpg');slidedirection: right; slidedelay: 4000; durationin: 1500; durationout: 1500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0;">
                                <div class="inner ls-s2" style="position:absolute; left:50%; slidedirection : right;  parallaxin : .45; parallaxout : .45; durationin : 5000; durationout : 1500; easingin : easeOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0;"><img src="static/images/slider-layer/011.png" alt="sublayer" style="position: absolute; top: 0px; left: -476px; " /></div>
                                <div class="inner ls-s2" style="position:absolute; left:50%; slidedirection : right; slideoutdirection : right; parallaxin : .45; parallaxout : .45; durationin : 1500; durationout : 1500; easingin : easeOutQuint; easingout : easeInOutQuint; delayin : 3000; delayout : 0;"><img src="static/images/slider-layer/12.png" alt="sublayer" style="position: absolute; top: 7px; left: -221px; " /></div>
                                <div class="inner ls-s2" style="position:absolute; left:50%; slidedirection : top; slideoutdirection : left; parallaxin : .45; parallaxout : .45; durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 2200; delayout : 0;"><img src="static/images/slider-layer/09.png" alt="sublayer" style="position: absolute; top: 0px; left: -446px; " /></div>
                                <div class="inner ls-s2" style="position:absolute; left:50%; slidedirection : top; slideoutdirection : left; parallaxin : .45; parallaxout : .45; durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 2200; delayout : 0;"><img src="static/images/slider-layer/10.png" alt="sublayer" style="position: absolute; top: 0px; left: -446px; " /></div>
                                <div class="inner ls-s2" style="position:absolute; left:50%; slidedirection : bottom; slideoutdirection : left; parallaxin : .45; parallaxout : .45; durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 1800; delayout : 0;"><img src="static/images/slider-layer/041.png" alt="sublayer" style="position: absolute; top: 0px; left: -446px; " /></div>
                                <div class="inner ls-s2" style="position:absolute; left:50%; slidedirection : bottom; slideoutdirection : left; parallaxin : .45; parallaxout : .45; durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 1800; delayout : 0;"><img src="static/images/slider-layer/051.png" alt="sublayer" style="position: absolute; top: 0px; left: -446px; " /></div>
                                <div class="inner ls-s2" style="position:absolute; left:50%; slidedirection : top; slideoutdirection : left; parallaxin : .45; parallaxout : .45; durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 1400; delayout : 0;"><img src="static/images/slider-layer/071.png" alt="sublayer" style="position: absolute; top: 0px; left: -446px; " /></div>
                                <div class="inner ls-s2" style="position:absolute; left:50%; slidedirection : top; slideoutdirection : left; parallaxin : .45; parallaxout : .45; durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 1400; delayout : 0;"><img src="static/images/slider-layer/08.png" alt="sublayer" style="position: absolute; top: 0px; left: -446px; " /></div>
                                <div class="inner ls-s2" style="position:absolute; left:50%; slidedirection : bottom; slideoutdirection : left; parallaxin : .45; parallaxout : .45; durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 1000; delayout : 0;"><img src="static/images/slider-layer/021.png" alt="sublayer" style="position: absolute; top: 0px; left: -446px; " /></div>
                                <div class="inner ls-s2" style="position:absolute; left:50%; slidedirection : bottom; slideoutdirection : left; parallaxin : .45; parallaxout : .45; durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 1000; delayout : 0;"><img src="static/images/slider-layer/031.png" alt="sublayer" style="position: absolute; top: 0px; left: -446px; " /></div>
                                <div class="inner ls-s2" style="position:absolute; left:50%; slidedirection : top;  parallaxin : .45; parallaxout : .45; durationin : 1200; durationout : 1500; easingin : easeOutBounce; easingout : easeInOutQuint; delayin : 500; delayout : 0;"><img src="static/images/slider-layer/11.png" alt="sublayer" style="position: absolute; top: 0px; left: -446px; " /></div>
                                <div class="inner ls-s2" style="position:absolute; left:50%; slidedirection : bottom; slideoutdirection : left; parallaxin : .45; parallaxout : .45; durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 2600; delayout : 0;">
                                    <div style="position: absolute; top:324.00001525878906px; left: 108px;  ">
                                        <p style="width:340px; padding-right:470px;">...and much more. <a href="#" style="color:#c97509;">Discover the features ></a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="ls-layer" style="background-image: url('static/images/slider-layer/bg.png');slidedirection: right; slidedelay: 4000; durationin: 1500; durationout: 1500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0;">
                                <div class="inner ls-s2" style="position:absolute; left:50%; slidedirection : left; slideoutdirection : left; parallaxin : .45; parallaxout : .45; durationin : 1600; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 200; delayout : 0;"><img src="static/images/slider-layer/052.png" alt="sublayer" style="position: absolute; top: 0px; left: -449px; " /></div>
                                <div class="inner ls-s3" style="position:absolute; left:50%; slidedirection : top; slideoutdirection : right; parallaxin : .45; parallaxout : .45; durationin : 1000; durationout : 1500; easingin : easeOutExpo; easingout : easeInOutQuint; delayin : 1400; delayout : 0;">
                                    <div style="position: absolute; top:90px; left: 573px;  font-size: 30px; color: #2e2d2d; font-family: Rokkitt,Georgia,serif;"> ENJOY THE VIDEO SUPPORT </div>
                                </div>
                                <div class="inner ls-s4" style="position:absolute; left:50%; slidedirection : right; slideoutdirection : right; parallaxin : .45; parallaxout : .45; durationin : 1000; durationout : 1500; easingin : easeOutExpo; easingout : easeInOutQuint; delayin : 2000; delayout : 0;">
                                    <div style="position: absolute; top:120px; left: 573px;  font-size: 30px; color: #c97e08; font-family:Rokkitt,Georgia,serif;"> share your youtube or vimeo videos </div>
                                </div>
                                <div class="inner ls-s5" style="position:absolute; left:50%; slidedirection : fade; slideoutdirection : right; parallaxin : .45; parallaxout : .45; durationin : 1500; durationout : 1500; easingin : easeOutExpo; easingout : easeInOutQuint; delayin : 3000; delayout : 0;">
                                    <div style="position: absolute; top:170px; left: 573px;  font-size: 13px; color: #4f4f4e; font-family: Droid Sans,sans-serif; line-height:20px;">
                                        <p style="width:340px;">Lid est laborum dolo rumes fugats untras. Et harums ser quidem rerum facilis dolores nemis omnis fugiats vitaes nemo minima rerums unsers sadips amets.</p>
                                    </div>
                                </div>
                                <div class="inner ls-s6" style="position:absolute; left:50%; slidedirection : bottom; slideoutdirection : right; parallaxin : .45; parallaxout : .45; durationin : 2000; durationout : 1500; easingin : easeOutQuint; easingout : easeInOutQuint; delayin : 2800; delayout : 0;">
                                    <div style="position: absolute; top:265px; left: 573px;  ">
                                        <p><a href="themeforest.net/item/pink-rio-responsive-multipurpose-theme/3091259" class="btn btn-xlarge  btn-mfast-3 ">Purchase the theme</a></p>
                                    </div>
                                </div>
                                <div class="inner ls-s2" style="position:absolute; left:50%; slidedirection : left; slideoutdirection : left; parallaxin : .45; parallaxout : .45; durationin : 1600; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 200; delayout : 0;">
                                    <div style="position: absolute; top:55px; left: 36px;  ">
                                        <div style="width:472px; position:absolute;"><iframe src="http://player.vimeo.com/video/45052672?title=0&amp;byline=0&amp;portrait=0" width="472" height="317" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
                                    </div>
                                </div>
                            </div>
                            <div class="ls-layer" style="background-image: url('static/images/slider-layer/bg2.jpg');slidedirection: right; slidedelay: 4000; durationin: 1500; durationout: 1500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0;">
                                <div class="inner ls-s2" style="position:absolute; left:50%;   parallaxin : .45; parallaxout : .45; durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0;"><img src="images/slider-layer/091.png" alt="sublayer" style="position: absolute; top: 0px; left: -443px; " /></div>
                                <div class="inner ls-s2" style="position:absolute; left:50%;   parallaxin : .45; parallaxout : .45; durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0;"><img src="images/slider-layer/101.png" alt="sublayer" style="position: absolute; top: 0px; left: -443px; " /></div>
                                <div class="inner ls-s2" style="position:absolute; left:50%; slidedirection : top;  parallaxin : .45; parallaxout : .45; durationin : 1000; durationout : 1500; easingin : easeOutBounce; easingout : easeInOutQuint; delayin : 2000; delayout : 0;"><img src="images/slider-layer/033.png" alt="sublayer" style="position: absolute; top: 0px; left: -443px; " /></div>
                                <div class="inner ls-s2" style="position:absolute; left:50%; slidedirection : top;  parallaxin : .45; parallaxout : .45; durationin : 1000; durationout : 1500; easingin : easeOutBounce; easingout : easeInOutQuint; delayin : 2000; delayout : 0;"><img src="images/slider-layer/043.png" alt="sublayer" style="position: absolute; top: 0px; left: -443px; " /></div>
                                <div class="inner ls-s2" style="position:absolute; left:50%; slidedirection : top;  parallaxin : .45; parallaxout : .45; durationin : 1000; durationout : 1500; easingin : easeOutBounce; easingout : easeInOutQuint; delayin : 2500; delayout : 0;"><img src="images/slider-layer/053.png" alt="sublayer" style="position: absolute; top: 0px; left: -443px; " /></div>
                                <div class="inner ls-s2" style="position:absolute; left:50%; slidedirection : top;  parallaxin : .45; parallaxout : .45; durationin : 1000; durationout : 1500; easingin : easeOutBounce; easingout : easeInOutQuint; delayin : 2500; delayout : 0;"><img src="images/slider-layer/062.png" alt="sublayer" style="position: absolute; top: 0px; left: -443px; " /></div>
                                <div class="inner ls-s2" style="position:absolute; left:50%; slidedirection : top;  parallaxin : .45; parallaxout : .45; durationin : 1000; durationout : 1500; easingin : easeOutBounce; easingout : easeInOutQuint; delayin : 3000; delayout : 0;"><img src="images/slider-layer/072.png" alt="sublayer" style="position: absolute; top: 0px; left: -443px; " /></div>
                                <div class="inner ls-s2" style="position:absolute; left:50%; slidedirection : top;  parallaxin : .45; parallaxout : .45; durationin : 1000; durationout : 1500; easingin : easeOutBounce; easingout : easeInOutQuint; delayin : 3000; delayout : 0;"><img src="images/slider-layer/081.png" alt="sublayer" style="position: absolute; top: 0px; left: -443px; " /></div>
                                <div class="inner ls-s2" style="position:absolute; left:50%; slidedirection : bottom;  parallaxin : .45; parallaxout : .45; durationin : 2500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 2400; delayout : 0;">
                                    <div style="position: absolute; top:335px; left: 446px;  width:960px;"> <a href="themeforest.net/item/pink-rio-responsive-multipurpose-theme/3091259" class="btn btn-xlarge  btn-mfast-3 ">Purchase the theme</a> </div>
                                </div>
                                <div class="inner ls-s2" style="position:absolute; left:50%; slidedirection : bottom;  parallaxin : .45; parallaxout : .45; durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 900; delayout : 0;">
                                    <div style="position: absolute; top:106px; left: 30px;  width:960px; font-size: 30px; color: #c97e08; font-family:Rokkitt,Georgia,serif;">
                                        <div style="padding-left:410px;">WORDPRESS THEME</div>
                                    </div>
                                </div>
                                <div class="inner ls-s2" style="position:absolute; left:50%; slidedirection : top;  parallaxin : .45; parallaxout : .45; durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 500; delayout : 0;">
                                    <div style="position: absolute; top:65px; left: 30px;  width:960px; font-size: 30px; color: #2e2d2d; font-family: Rokkitt,Georgia,serif;">
                                        <div style="padding-left:410px;">A POWERFUL AND MULTIPURPOSE</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript" src="static/js/slider-layer.js"></script>
                        <div class="shadow-left"></div>
                        <div class="shadow-right"></div>
                    </div>
                </div>
                <!-- END SLIDER -->
                <div class="mobile-slider">
                    <div class="slider fixed-image inner"><img src="static/images/slider-layer/layer-fixed.jpg" alt="" /></div>
                </div>
{% endblock %}

{% block primary %}
                
				<!-- START PRIMARY -->
				<div id="primary" class="sidebar-no">
				    <div class="inner group">
				    	<!-- START CONTENT -->
						<div id="content-home" class="content group">
						    <div class="hentry group">
						        
						        <div class="section portfolio">
						            <h3 class="title">Latest projects</h3>
						            <div class="portfolio-projects">
						                
						                <div class="related_project">
						                    <div class="overlay_a related_img">
						                        <div class="overlay_wrapper">
						                            <img src="static/images/projects/0061-175x175.jpg" alt="0061" title="0061" />						
						                            <div class="overlay">
						                                <a class="overlay_img" href="static/images/projects/0061.jpg" rel="lightbox" title=""></a>
						                                <a class="overlay_project" href="project.html"></a>
						                                <span class="overlay_title">Love</span>
						                            </div>
						                        </div>
						                    </div>
						                    <h4><a href="project.html">Love</a></h4>
						                    <p>Nullam volutpat, mauris scelerisque iaculis semper, justo odio rutrum urna, [...]
						                </div>
						                
						                <div class="related_project">
						                    <div class="overlay_a related_img">
						                        <div class="overlay_wrapper">
						                            <img src="static/images/projects/0071-175x175.jpg" alt="0071" title="0071" />						
						                            <div class="overlay">
						                                <a class="overlay_img" href="static/images/projects/0071.jpg" rel="lightbox" title=""></a>
						                                <a class="overlay_project" href="project.html"></a>
						                                <span class="overlay_title">Kineda</span>
						                            </div>
						                        </div>
						                    </div>
						                    <h4><a href="project.html">Kineda</a></h4>
						                    <p>Nullam volutpat, mauris scelerisque iaculis semper, justo odio rutrum urna, [...]
						                </div>
						                
						                <div class="related_project">
						                    <div class="overlay_a related_img">
						                        <div class="overlay_wrapper">
						                            <img src="static/images/projects/0081-175x175.jpg" alt="0081" title="0081" />						
						                            <div class="overlay">
						                                <a class="overlay_img" href="static/images/projects/0081.jpg" rel="lightbox" title=""></a>
						                                <a class="overlay_project" href="project.html"></a>
						                                <span class="overlay_title">Steep This!</span>
						                            </div>
						                        </div>
						                    </div>
						                    <h4><a href="project.html">Steep This!</a></h4>
						                    <p>Nullam volutpat, mauris scelerisque iaculis semper, justo odio rutrum urna, [...]
						                </div>
						                
						                <div class="related_project">
						                    <div class="overlay_a related_img">
						                        <div class="overlay_wrapper">
						                            <img src="static/images/projects/009-175x175.jpg" alt="009" title="009" />						
						                            <div class="overlay">
						                                <a class="overlay_img" href="static/images/projects/009.jpg" rel="lightbox" title=""></a>
						                                <a class="overlay_project" href="project.html"></a>
						                                <span class="overlay_title">Guanacos</span>
						                            </div>
						                        </div>
						                    </div>
						                    <h4><a href="project.html">Guanacos</a></h4>
						                    <p>Nullam volutpat, mauris scelerisque iaculis semper, justo odio rutrum urna, [...]
						                </div>
						                
						                <div class="related_project">
						                    <div class="overlay_a related_img">
						                        <div class="overlay_wrapper">
						                            <img src="static/images/projects/0011-175x175.jpg" alt="0011" title="0011" />						
						                            <div class="overlay">
						                                <a class="overlay_img" href="static/images/projects/0011.jpg" rel="lightbox" title=""></a>
						                                <a class="overlay_project" href="project.html"></a>
						                                <span class="overlay_title">Miller Bob</span>
						                            </div>
						                        </div>
						                    </div>
						                    <h4><a href="project.html">Miller Bob</a></h4>
						                    <p>Nullam volutpat, mauris scelerisque iaculis semper, justo odio rutrum urna, [...]
						                </div>
						                
						                <div class="related_project_last related_project">
						                    <div class="overlay_a related_img">
						                        <div class="overlay_wrapper">
						                            <img src="static/images/projects/0027-175x175.jpg" alt="0027" title="0027" />						
						                            <div class="overlay">
						                                <a class="overlay_img" href="static/images/projects/0027.jpg" rel="lightbox" title=""></a>
						                                <a class="overlay_project" href="project.html"></a>
						                                <span class="overlay_title">VItale Premium</span>
						                            </div>
						                        </div>
						                    </div>
						                    <h4><a href="project.html">VItale Premium</a></h4>
						                    <p>Nullam volutpat, mauris scelerisque iaculis semper, justo odio rutrum urna, [...]
						                </div>
						                
						            </div>
						        </div>
						        
						        <div class="clear"></div>
						        <div class="border-line"></div>
						        
						        <div class="box-sections">
						            <img src="static/images/icons/set_icons/mphone32.png" alt="Get in touch with us" class="icon" />
						            <h3><span style="line-height:32px">Get in touch with us</span></h3>
						            <p>Lorem ipsum dolor sit amet, midas consectetur amet adipiscing lorem ipsum dolor sit amet, consectetur amet adipiscing elit parasem ionis.</p>
						        </div>
						        
						        <div class="box-sections">
						            <img src="static/images/icons/set_icons/new32.png" alt="A new WP Theme" class="icon" />
						            <h3><span style="line-height:32px">A new WP Theme</span></h3>
						            <p>Lorem ipsum dolor sit amet, midas consectetur amet adipiscing lorem ipsum dolor sit amet, consectetur amet adipiscing elit parasem ionis. </p>
						        </div>
						        
						        <div class="box-sections">
						            <img src="static/images/icons/set_icons/coffee32.png" alt="Do you enjoy it?" class="icon" />
						            <h3><span style="line-height:32px">Do you enjoy it?</span></h3>
						            <p>Lorem ipsum dolor sit amet, midas consectetur amet adipiscing lorem ipsum dolor sit amet, consectetur amet adipiscing elit parasem ionis.</p>
						        </div>
						        
						        <div class="box-sections last">
						            <img src="static/images/icons/set_icons/gift32.png" alt="Purchase it now" class="icon" />
						            <h3><span style="line-height:32px">Purchase it now</span></h3>
						            <p>Lorem ipsum dolor sit amet, midas consectetur amet adipiscing lorem ipsum dolor sit amet, consectetur amet adipiscing elit parasem ionis.</p>
						        </div>
						        
						    </div>
						    <!-- START COMMENTS -->
						    <div id="comments">
						    </div>
						    <!-- END COMMENTS -->
						</div>
						<!-- END CONTENT -->
					<!-- START EXTRA CONTENT -->
					<!-- END EXTRA CONTENT -->
					</div>
				</div>
                <!-- END PRIMARY -->
{% endblock %}
      