{% extends 'base.html'%}
{% block slider %}                
                <div class="slider fixed-image inner">
				    <img src="static/images/landing-header1.jpg" alt="Pink Rio Header" />
				</div>
{% endblock %}		
{% block primary %}		
				<!-- START PRIMARY -->
				<div id="primary" class="sidebar-no">
				    <div class="inner group">
				        <!-- START CONTENT -->
				        <div id="content-home" class="content group">
				            <div class="hentry group">
				                
				                <div class="group call-to-action-two">
				                    <div class="incipit">
				                        <h2>Welcome to our Landing Page. Want to know more?</h2>
				                    </div>
				                    <div class="call-btn">
				                        <a href="#" class="btn btn-mfast-3 ">PURCHASE IT TODAY</a>	
				                    </div>
				                </div>
				                
				                <div class="clear space"></div>
				                
				                <div class="box-sections">
				                    <img src="static/images/icons/set_icons/checkbox-checked.png" alt="Unlimited slider" class="icon" />
				                    <h4><span style="line-height:32px">Unlimited slider</span></h4>
				                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu.</p>
				                </div>
				                <div class="box-sections">
				                    <img src="static/images/icons/set_icons/checkbox-checked.png" alt="SEO optimized" class="icon" />
				                    <h4><span style="line-height:32px">SEO optimized</span></h4>
				                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu.</p>
				                </div>
				                <div class="box-sections">
				                    <img src="static/images/icons/set_icons/checkbox-checked.png" alt="Unlimited portfolio" class="icon" />
				                    <h4><span style="line-height:32px">Unlimited portfolio</span></h4>
				                    <p>You can dynamically generate portfolios which can be used to showcase your work in a regular media gallery or a real portfolio with detail pages. All portfolio/gallery entries support images, youtube and vimeo videos. </p>
				                </div>
				                <div class="box-sections last">
				                    <img src="static/images/icons/set_icons/checkbox-checked.png" alt="Shortcode manager" class="icon"  />
				                    <h4><span style="line-height:32px">Shortcode manager</span></h4>
				                    <p>PinkRio comes packed with over 100 powerful shortcodes. The Shortcode Manager built directly into the WordPress visual editor and provides a clean, simple interface for managing shortcodes.</p>
				                </div>
				                
				                <div class="clear space"></div>
				                <h2>Some <span style="color: #c26d3d">testimonials</span></h2>
				                
				                <div class="testimonial two-fourth ">
				                    <div class="thumbnail">
				                        <img src="static/images/avatar/Fotolia_20568380_Subscription_XXL-94x94.jpg" alt="Fotolia_20568380_Subscription_XXL" title="Fotolia_20568380_Subscription_XXL" />   
				                    </div>
				                    <div class="testimonial-text">
				                        <p>I purchased this theme and I really like it. The theme authors have been very helpful in the support area of their website. Would definitely recommend to anyone needing a corporate wordpress theme. What to say about the[...]</p>
				                    </div>
				                    <div class="testimonial-name"><a href="testimonial.html" class="name">Erica Evans</a><a class="website" href="http://www.unisoftware.com">unisoftware.com</a></div>
				                </div>
				                
				                <div class="testimonial two-fourth last">
				                    <div class="thumbnail">
				                        <img src="static/images/avatar/ricardo-94x94.jpg" alt="ricardo" title="ricardo" />   
				                    </div>
				                    <div class="testimonial-text">
				                        <p>Bookmark this theme as one of your “Must Haves for 2012” This theme is without a doubt one of our Top 5 Purchases. Once you get used to how the content is organised in Admin, the applications are[...]</p>
				                    </div>
				                    <div class="testimonial-name"><a href="testimonial.html" class="name">Ricardo Mori</a><a class="website" href="http://www.net.ons.com">Netsons Inc</a></div>
				                </div>
				                
				                <h2>Pricing <span style="color: #c26d3d">plans</span></h2>
				                <div class="cols-5">
				                    <div class="pricing_box  radius-right">
				                        <div class="header">
				                            <h3>Normal price</h3>
				                        </div>
				                        <ul>
				                            <li>Student &#8211; 20% discount</li>
				                            <li>Group (3 or more) &#8211; 20% discount</li>
				                        </ul>
				                        <p></p>
				                        <h3>19.99 $</h3>
				                        <p class="button signup"><a href="#">Show</a></p>
				                    </div>
				                    <div class="pricing_box  radius-right">
				                        <div class="header">
				                            <h3>Normal price</h3>
				                        </div>
				                        <ul>
				                            <li>Student &#8211; 20% discount</li>
				                            <li>Group (3 or more) &#8211; 20% discount</li>
				                        </ul>
				                        <p></p>
				                        <h3>19.99 $</h3>
				                        <p class="button signup"><a href="#">Show</a></p>
				                    </div>
				                    <div class="pricing_box large radius-right">
				                        <div class="header">
				                            <h3>Special Price</h3>
				                        </div>
				                        <ul>
				                            <li>Student &#8211; 20% discount</li>
				                            <li>Group (3 or more) &#8211; 20% discount</li>
				                        </ul>
				                        <p></p>
				                        <h3>10.20 $</h3>
				                        <p class="button signup"><a href="#">Show</a></p>
				                    </div>
				                    <div class="pricing_box  radius-right">
				                        <div class="header">
				                            <h3>Normal price</h3>
				                        </div>
				                        <ul>
				                            <li>Student &#8211; 20% discount</li>
				                            <li>Group (3 or more) &#8211; 20% discount</li>
				                        </ul>
				                        <p></p>
				                        <h3>19.99 $</h3>
				                        <p class="button signup"><a href="#">Show</a></p>
				                    </div>
				                    <div class="pricing_box  radius-right">
				                        <div class="header">
				                            <h3>Normal price</h3>
				                        </div>
				                        <ul>
				                            <li>Student &#8211; 20% discount</li>
				                            <li>Group (3 or more) &#8211; 20% discount</li>
				                        </ul>
				                        <p></p>
				                        <h3>19.99 $</h3>
				                        <p class="button signup"><a href="#">Show</a></p>
				                    </div>
				                </div>
				                
				                <div style="clear:both"></div>
				                <div class="clear space"></div>
				                
				                <div class="two-third ">
				                    <h2>Any questions? <span style="color: #bc8242">read the FAQ</span></h2>
				                    <p>&nbsp;</p>
				                    <div class="toggle">
				                        <p class="tab-index tab-closed"><a href="#" title="Close"><span class="icon-plus-sign"></span> I bought Pink Rio, how i can get help to set up the theme?</a></p>
				                        <div class="content-tab closed">
				                            <p>In our <a href="http://www.yourinspirationweb.com/tf/support/forum/viewtopic.html?f=6&amp;t=467">support forum</a> you can find a lot of videotutorials that can help you to set the theme. You can also open a ticket to ask help to our developers, we usually reply in max 24 hours!</p>
				                        </div>
				                    </div>
				                    <div class="toggle">
				                        <p class="tab-index tab-closed"><a href="#" title="Close"><span class="icon-plus-sign"></span> Do you provide sample data or dummy content?</a></p>
				                        <div class="content-tab closed">
				                            <p>Sure, after the purchase you can download our sample data in the support forum. So in few seconds you can import our dummy content and have a theme like our demo.</p>
				                        </div>
				                    </div>
				                    <div class="toggle">
				                        <p class="tab-index tab-closed"><a href="#" title="Close"><span class="icon-plus-sign"></span> Which are the key features of this nice theme?</a></p>
				                        <div class="content-tab closed">
				                            <p>Unlimited sliders with 5 different sliders, unlimited portfolio, unlimited gallery and videogallery, unlimited sidebars, SEO optimized (with the special SEO panel in each page!), Shortcode manager, background upload in each page and post, header uploader, 500+ fonts..and so on!</p>
				                        </div>
				                    </div>
				                </div>
				                
				                <div class="one-third last">
				                    <h2>Stay updated with the last sales!</h2>
				                    <p>&nbsp;</p>
				                    <p>Ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Ut varius tincidunt libero. Phases posuere cubilia Curae;</p>
				                    <div class="newsletter-section group">
				                        <p class="description special-font"></p>
				                        <form method="post" action="">
				                            <fieldset>
				                                <ul class="group">
				                                    <li><label for="email">your e-mail</label><input type="text" name="email" id="email" class="email-field text-field autoclear" /></li>
				                                    <li><input type="submit" value="subscribe" class="submit-field" /></li>
				                                </ul>
				                            </fieldset>
				                        </form>
				                    </div>
				                </div>
				                <p>&nbsp;</p>
				                <p>&nbsp;</p>
				            </div>
				            <!-- START COMMENTS -->
				            <div id="comments">
				            </div>
				            <!-- END COMMENTS -->
				        </div>
				        <!-- END CONTENT -->
				        <!-- START EXTRA CONTENT -->
				        <!-- END EXTRA CONTENT -->
				    </div>
				</div>
				<!-- END PRIMARY -->
{% endblock %}                
				
