{% extends 'base.html'%}
{% block primary %}                
                <!-- START PAGE META -->
				<div id="page-meta">
				    <div class="inner group">
				        <h3>Welcome to my portfolio page</h3>
				        <h4>..i hope you enjoy my works</h4>
				    </div>
				</div>
				<!-- END PAGE META -->
				
				<!-- START PRIMARY -->
				<div id="primary" class="sidebar-no">
				    <div class="inner group">
				        <!-- START CONTENT -->
				        <div id="content-page" class="content group">
				            <div class="hentry group">
				                <div id="portfolio" class="portfolio-filterable">
				                    <div class="gallery-filters">
				                        <ul class="filters gallery-categories-quicksand">
				                            <li class="segment-1 first"><a data-value="all" href="#">All</a></li>
				                            <li class="segment-2"><a href="#" data-value="brandidentity">Brand Identity</a></li>
				                            <li class="segment-3"><a href="#" data-value="digitalpainting">Digital Painting</a></li>
				                            <li class="segment-4"><a href="#" data-value="logodesign">Logo Design</a></li>
				                            <!--li class="segment-5">Web Design</li-->
				                        </ul>
				                    </div>
				                    <div id="portfolio-gallery" class="internal_page_items internal_page_gallery">
				                        <ul class="gallery-wrap image-grid group">
				                            <li data-id="id-1" class="brandidentity logodesign one-fourth">
				                                <div class="internal_page_item internal_page_item_gallery">
				                                    <div class="overlay_a">
				                                        <img src="static/images/projects/0092-260x168.jpg" alt="0092" title="0092" />			        	
				                                        <div class="overlay">
				                                            <a class="overlay_img" href="static/images/projects/0092.jpg" rel="lightbox" title=""></a>
				                                            <a class="overlay_project" href="project.html"></a>
				                                            <span class="overlay_title">Guanacos</span>
				                                        </div>
				                                    </div>
				                                </div>
				                            </li>
				                            <li data-id="id-2" class="brandidentity one-fourth">
				                                <div class="internal_page_item internal_page_item_gallery">
				                                    <div class="overlay_a">
				                                        <img src="static/images/projects/0013-260x168.jpg" alt="0013" title="0013" />			        	
				                                        <div class="overlay">
				                                            <a class="overlay_img" href="static/images/projects/0013.jpg" rel="lightbox" title=""></a>
				                                            <a class="overlay_project" href="project.html"></a>
				                                            <span class="overlay_title">Miller Bob</span>
				                                        </div>
				                                    </div>
				                                </div>
				                            </li>
				                            <li data-id="id-3" class="brandidentity one-fourth">
				                                <div class="internal_page_item internal_page_item_gallery">
				                                    <div class="overlay_a">
				                                        <img src="static/images/projects/0029-260x168.jpg" alt="0029" title="0029" />			        	
				                                        <div class="overlay">
				                                            <a class="overlay_img" href="static/images/projects/0029.jpg" rel="lightbox" title=""></a>
				                                            <a class="overlay_project" href="project.html"></a>
				                                            <span class="overlay_title">Vitale Premium</span>
				                                        </div>
				                                    </div>
				                                </div>
				                            </li>
				                            <li data-id="id-4" class="brandidentity one-fourth last">
				                                <div class="internal_page_item internal_page_item_gallery">
				                                    <div class="overlay_a">
				                                        <img src="static/images/projects/0038-260x168.jpg" alt="0038" title="0038" />			        	
				                                        <div class="overlay">
				                                            <a class="overlay_img" href="static/images/projects/0038.jpg" rel="lightbox" title=""></a>
				                                            <a class="overlay_project" href="project.html"></a>
				                                            <span class="overlay_title">Nili Studios</span>
				                                        </div>
				                                    </div>
				                                </div>
				                            </li>
				                            <li data-id="id-5" class="brandidentity one-fourth">
				                                <div class="internal_page_item internal_page_item_gallery">
				                                    <div class="overlay_a">
				                                        <img src="static/images/projects/0045-260x168.jpg" alt="0045" title="0045" />			        	
				                                        <div class="overlay">
				                                            <a class="overlay_img" href="static/images/projects/0045.jpg" rel="lightbox" title=""></a>
				                                            <a class="overlay_project" href="project.html"></a>
				                                            <span class="overlay_title">Digitpool Medien</span>
				                                        </div>
				                                    </div>
				                                </div>
				                            </li>
				                            <li data-id="id-6" class="digitalpainting one-fourth">
				                                <div class="internal_page_item internal_page_item_gallery">
				                                    <div class="overlay_a">
				                                        <img src="static/images/projects/0054-260x168.jpg" alt="0054" title="0054" />			        	
				                                        <div class="overlay">
				                                            <a class="overlay_img" href="static/images/projects/0054.jpg" rel="lightbox" title=""></a>
				                                            <a class="overlay_project" href="project.html"></a>
				                                            <span class="overlay_title">Colorful Oktopus</span>
				                                        </div>
				                                    </div>
				                                </div>
				                            </li>
				                            <li data-id="id-7" class="digitalpainting one-fourth">
				                                <div class="internal_page_item internal_page_item_gallery">
				                                    <div class="overlay_a">
				                                        <img src="static/images/projects/0063-260x168.jpg" alt="0063" title="0063" />			        	
				                                        <div class="overlay">
				                                            <a class="overlay_img" href="static/images/projects/0063.jpg" rel="lightbox" title=""></a>
				                                            <a class="overlay_project" href="project.html"></a>
				                                            <span class="overlay_title">Black Mamba</span>
				                                        </div>
				                                    </div>
				                                </div>
				                            </li>
				                            <li data-id="id-8" class="logodesign one-fourth last">
				                                <div class="internal_page_item internal_page_item_gallery">
				                                    <div class="overlay_a">
				                                        <img src="static/images/projects/0073-260x168.jpg" alt="0073" title="0073" />			        	
				                                        <div class="overlay">
				                                            <a class="overlay_img" href="static/images/projects/0073.jpg" rel="lightbox" title=""></a>
				                                            <a class="overlay_project" href="project.html"></a>
				                                            <span class="overlay_title">Kineda</span>
				                                        </div>
				                                    </div>
				                                </div>
				                            </li>
				                            
				                        </ul>
				                        <div class="clear"></div>
				                    </div>
				                </div>
				            </div>
				            <!-- START COMMENTS -->
				            <div id="comments">
				            </div>
				            <!-- END COMMENTS -->
				        </div>
				        <!-- END CONTENT -->
				        <!-- START EXTRA CONTENT -->
				        <!-- END EXTRA CONTENT -->
				    </div>
				</div>
				<!-- END PRIMARY -->
{% endblock %}				
			