{% extends 'base.html'%}
{% block primary %}                
                <!-- START PRIMARY -->
				<div id="primary" class="sidebar-no">
				    <div class="inner group">
				        <!-- START CONTENT -->
				        <div id="content-page" class="content group">
				            <div class="hentry group">
                            
				                <h2>Mix &amp; Various</h2>
                                
				                <h2>Four Columns</h2>
				                <div class="one-fourth ">
				                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu.</p>
				                </div>
				                <div class="one-fourth ">
				                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu.</p>
				                </div>
				                <div class="one-fourth ">
				                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu.</p>
				                </div>
				                <div class="one-fourth last">
				                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu.</p>
				                </div>
				                <div class="clear space"></div>
				                <div class="clear line"></div>
                                
				                <h2>Three Columns</h2>
				                <div class="one-third ">
				                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu. </p>
				                </div>
				                <div class="one-third ">
				                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu. </p>
				                </div>
				                <div class="one-third last">
				                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu. </p>
				                </div>
				                <div class="clear space"></div>
				                <div class="clear line"></div>
                                
				                <h2>Two Columns</h2>
				                <div class="two-fourth ">
				                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu.</p>
				                </div>
				                <div class="two-fourth last">
				                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu.</p>
				                </div>
				                <div class="clear space"></div>
				                <div class="clear line"></div>
                                
				                <h2>Two Columns</h2>
				                <div class="two-third ">
				                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu.</p>
				                </div>
				                <div class="one-third last">
				                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu.</p>
				                </div>
				                <div class="clear space"></div>
				                <div class="clear line"></div>
                                
				                <h2>Two Columns</h2>
				                <div class="three-fourth ">
				                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu. Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu.</p>
				                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu.</p>
				                </div>
				                <div class="one-fourth last">
				                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim libero, quis tincidunt arcu.</p>
				                </div>
				                <div class="clear space"></div>
				                <div class="clear line"></div>
                                
				                <h2>Bullet list</h2>
				                <div class="one-third ">
				                    <ul class="short star">
				                        <li>star</li>
				                        <li>star</li>
				                        <li>star</li>
				                    </ul>
				                </div>
				                <div class="one-third ">
				                    <ul class="short arrow">
				                        <li>arrow</li>
				                        <li>arrow</li>
				                        <li>arrow</li>
				                    </ul>
				                </div>
				                <div class="one-third last">
				                    <ul class="short check">
				                        <li>check</li>
				                        <li>check</li>
				                        <li>check</li>
				                    </ul>
				                </div>
				                <div class="one-third ">
				                    <ul class="short add">
				                        <li>add</li>
				                        <li>add</li>
				                        <li>add</li>
				                    </ul>
				                </div>
				                <div class="one-third ">
				                    <ul class="short info">
				                        <li>info</li>
				                        <li>info</li>
				                        <li>info</li>
				                    </ul>
				                </div>
				                <div class="clear"></div>
                                
				                <h2>Call to action</h2>
				                <p>&nbsp;</p>
				                <div class="call-to-action">
				                    <div class="incipit">
				                        <h2>Not found the answer?</h2>
				                        <p>feel free to contact our customer service for free support</p>
				                    </div>
				                    <div class="separate-phone"></div>
				                    <div class="number-phone">800.034.881</div>
				                    <div class="clear"></div>
				                    <div class="decoration-image"></div>
				                </div>
                                
				                <h2>Call to action 2</h2>
				                <p>&nbsp;</p>
				                <div class="group call-to-action-two">
				                    <div class="incipit">
				                        <span style="font-size: 46px;"><span style="font-family: 'Rokkitt'">35% off everything</span></span> Sign in to our list before march 21!	
				                    </div>
				                    <div class="call-btn">
				                        <link rel="stylesheet" id="custom-button-saffron-umbrella-5-css" href="static/css/buttons/saffron-umbrella-5.css" type="text/css" media="all" />
				                        <a href="#" class="btn btn-large  btn-saffron-umbrella-5 ">SIGN IN NOW</a>	
				                    </div>
				                </div>
                                
				                <h2>Toggles</h2>
				                <div class="toggle">
				                    <p class="tab-index tab-opened"><a href="#" title="Close"><span class="icon-minus-sign"></span> Click to open: this is a toggle</a></p>
				                    <div class="content-tab opened">
				                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Donec blandit enim libero</strong>, quis tincidunt arcu.<br />
				                            Eaque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta.
				                        </p>
				                    </div>
				                </div>
				                <div class="toggle">
				                    <p class="tab-index tab-closed"><a href="#" title="Close"><span class="icon-plus-sign"></span> Click to open: this is a toggle</a></p>
				                    <div class="content-tab closed">
				                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Donec blandit enim libero</strong>, quis tincidunt arcu.<br />
				                            Eaque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta.
				                        </p>
				                    </div>
				                </div>
				                <div class="toggle">
				                    <p class="tab-index tab-closed"><a href="#" title="Close"><span class="icon-plus-sign"></span> Click to open: this is a toggle</a></p>
				                    <div class="content-tab closed">
				                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Donec blandit enim libero</strong>, quis tincidunt arcu.<br />
				                            Eaque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta.
				                        </p>
				                    </div>
				                </div>

                                
				                <h2>Tabs</h2>
				                <div class="tabs-container">
				                    <ul class="tabs">
				                        <li>
				                            <h4><a href="#tab1" title="Services">Services</a></h4>
				                        </li>
				                        <li>
				                            <h4><a href="#tab2" title="Customers">Customers</a></h4>
				                        </li>
				                        <li>
				                            <h4><a href="#tab3" title="Marketing">Marketing</a></h4>
				                        </li>
				                    </ul>
				                    <div class="border-box group">
				                        <div id="tab1" class="panel group">
				                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem<br />
				                                ipsum dolor sit amet, consectetur adipiscing elit.<br />
				                                <strong>Donec blandit enim libero</strong>, quis tincidunt arcu.<br />
				                                Eaque ipsa quae ab illo veritatis et quasi architecto.
				                            </p>
				                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem<br />
				                                ipsum dolor sit amet, consectetur adipiscing elit.<br />
				                                <strong>Donec blandit enim libero</strong>, quis tincidunt arcu.<br />
				                                Eaque ipsa quae ab illo veritatis et quasi architecto.
				                            </p>
				                        </div>
				                        <div id="tab2" class="panel group">
				                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing lorem<br />
				                                ipsum dolor sit amet, consectetur adipiscing elit.<br />
				                                <strong>Donec blandit enim libero</strong>, quis tincidunt arcu.
				                            </p>
				                            <p>Eaque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta.</p>
				                        </div>
				                        <div id="tab3" class="panel group">
				                            <ul class="short arrow">
				                                <li>item</li>
				                                <li>item</li>
				                                <li>item</li>
				                            </ul>
				                        </div>
				                    </div>
				                </div>
                                
				                <h2>Registered members only</h2>
				                <div class="box info-box">
				                    <p>Register to see this content!</p>
				                </div>
                                
				                <h2>Contact info</h2>
				                <div class="contact-info">
				                    <h3>Contact us</h3>
				                    <div class="sidebar-nav">
				                        <ul>
				                            <li>
				                                <i class="icon-map-marker" style="color:#979797;font-size:20px"></i>
				                                Location: PinkRio, 115 Avenue street - Italy					
				                            </li>
				                            <li>
				                                <i class="icon-info-sign" style="color:#979797;font-size:20px"></i>
				                                Phone: 3471717174				
				                            </li>
				                            <li>
				                                <i class="icon-print" style="color:#979797;font-size:20px"></i>
				                                Fax: +39 0035 356 765				
				                            </li>
				                            <li>
				                                <i class="icon-envelope" style="color:#979797;font-size:20px"></i>
				                                Email: pinkrio@yit.com				
				                            </li>
				                        </ul>
				                    </div>
				                </div>
				            </div>
				            <!-- START COMMENTS -->
				            <div id="comments">
				            </div>
				            <!-- END COMMENTS -->
				        </div>
				        <!-- END CONTENT -->
				        <!-- START EXTRA CONTENT -->
				        <!-- END EXTRA CONTENT -->
				    </div>
				</div>
				<!-- END PRIMARY -->
{% endblock %}                				
				