{% extends 'base.html'%}
{% block primary %}                
                <!-- START PRIMARY -->
				<div id="primary" class="sidebar-no">
				    <div class="inner group">
				        <!-- START CONTENT -->
				        <div id="content-page" class="content group">
				            <div class="hentry group">
                            
				                <h1 class="title-post-page">H1 tag header</h1>
				                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque convallis adipiscing. Nunc leo dolor, fringilla quis egestas eget, hendrerit id velit. <strong>Etiam sed nibh purus</strong>, a volutpat quam. In hac habitasse platea dictumst. Phasellus ultrices purus et sapien laoreet fermentum.</p>
				                
                                <h2>H2 tag header</h2>
				                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque convallis adipiscing. Nunc leo dolor, fringilla quis egestas eget, hendrerit id velit. <strong>Etiam sed nibh purus</strong>, a volutpat quam. In hac habitasse platea dictumst. Phasellus ultrices purus et sapien laoreet fermentum.</p>
				                
                                <h3>H3 tag header</h3>
				                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque convallis adipiscing. Nunc leo dolor, fringilla quis egestas eget, hendrerit id velit. <strong>Etiam sed nibh purus</strong>, a volutpat quam. In hac habitasse platea dictumst. Phasellus ultrices purus et sapien laoreet fermentum.</p>
				                
                                <h4>H4 tag header</h4>
				                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque convallis adipiscing. Nunc leo dolor, fringilla quis egestas eget, hendrerit id velit. <strong>Etiam sed nibh purus</strong>, a volutpat quam. In hac habitasse platea dictumst. Phasellus ultrices purus et sapien laoreet fermentum.</p>
				                
                                <h5>H5 tag header</h5>
				                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque convallis adipiscing. Nunc leo dolor, fringilla quis egestas eget, hendrerit id velit. <strong>Etiam sed nibh purus</strong>, a volutpat quam. In hac habitasse platea dictumst. Phasellus ultrices purus et sapien laoreet fermentum.</p>
				                
                                <h6>H6 tag header</h6>
				                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque convallis adipiscing. Nunc leo dolor, fringilla quis egestas eget, hendrerit id velit. <strong>Etiam sed nibh purus</strong>, a volutpat quam. In hac habitasse platea dictumst. Phasellus ultrices purus et sapien laoreet fermentum.</p>
				                
                                <h2>Dropcap</h2>
				                <p class="dropcap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque convallis adipiscing. Nunc leo dolor, fringilla quis egestas eget, hendrerit id velit. <strong>Etiam sed nibh purus</strong>, a volutpat quam. In hac habitasse platea dictumst. Phasellus ultrices purus et sapien laoreet fermentum.</p>
				                
                                <h2>Quote text</h2>
				                <blockquote>
				                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque convallis adipiscing. Nunc leo dolor, fringilla quis egestas eget, hendrerit id velit. <strong>Etiam sed nibh purus</strong>, a volutpat quam. In hac habitasse platea dictumst. Phasellus ultrices purus et sapien laoreet fermentum.</p>
				                </blockquote>

				            </div>
				            <!-- START COMMENTS -->
				            <div id="comments">
				            </div>
				            <!-- END COMMENTS -->
				        </div>
				        <!-- END CONTENT -->
				        <!-- START EXTRA CONTENT -->
				        <!-- END EXTRA CONTENT -->
				    </div>
				</div>
				<!-- END PRIMARY -->
                				
{% endblock %}				