{% extends 'base.html'%}
{% block primary %}                
                <script>
				    jQuery(document).ready(function($){
				    	$('.sidebar').remove();
				    	
				    	if( !$('#primary').hasClass('sidebar-no') ) {
				    		$('#primary').removeClass().addClass('sidebar-no');
				    	}
				    	
				    });
				</script>
				<!-- START PRIMARY -->
				<div id="primary" class="sidebar-no">
				    <div class="inner group">
				        <!-- START CONTENT -->
				        <div id="content-page" class="content group">
				            <div class="clear"></div>
				            <div class="posts">
				                <div class="portfolio-post internal-post group">
				                    <div id="portfolio" class="portfolio-full-description">
				                        <div class="fulldescription_title gallery-filters">
				                            <h1>Don't descriminate</h1>
				                        </div>
				                        <div class="portfolios hentry work group">
				                            <div class="work-thumbnail">
				                                <div class="post_video youtube">
				                                    <div class="post_video youtube">
				                                        <iframe width="100%" height="100%" src="http://www.youtube.com/embed/yNOD2Dnyt2k" frameborder="0" allowfullscreen></iframe>
				                                    </div>
				                                </div>
				                            </div>
				                            <div class="work-description">
				                                <div class="clear"></div>
				                            </div>
				                            <div class="clear"></div>
				                        </div>
				                        <div class="clear"></div>
				                    </div>
				                    <div class="clear"></div>
				                </div>
				            </div>
				        </div>
				        <!-- END CONTENT -->
				    </div>
				</div>
				<!-- END PRIMARY -->
{% endblock %}